---
import ButtonBlue from "../reusable/buttonBlue.astro"
---

<div class="flex w-screen items-center justify-center">
  <div class="relative flex-col flex w-fit items-center justify-center h-fit top-0 md:absolute md:flex-row">
    <ButtonBlue link="" text="Home"/>
    <ButtonBlue link="" text="Read the Guide"/>
    <ButtonBlue link="" text="Gallery"/>
    <ButtonBlue link="" text="Run a Workshop"/>
  </div>
</div>
