---
import ButtonBlue from "../reusable/buttonBlue.astro"
import ButtonRed from "../reusable/buttonRed.astro"
---

<div class="flex w-screen items-center justify-center ">
  <div class="relative flex-col flex w-fit items-center justify-center h-fit top-0 mt-[3rem] md:mt-[0rem] md:flex-row">
    <ButtonRed link="" text="Home"/>
    <ButtonRed link="/docs/Fusering_Draft_V1.3.pdf" text="Read the Guide"/>
    <ButtonRed link="" text="Gallery"/>
    <ButtonRed link="" text="Run a Workshop"/>
  </div>
</div>
