---
const fuseringLogo = "/logos/fusering-logo-colour.svg";
const cubePatternBackground = "/backgrounds/background_cube_pattern.svg";
---

<div
  class="h-fit flex items-center justify-center p-[1rem] flex-col rounded-3xl bg-[url(/backgrounds/background_cube_pattern.png)] lg:flex-row shadow-2xl"
>
  <img src={fuseringLogo} class="p-[2rem] mt-[10rem] lg:mt-[0rem]" />

  <div
    class="flex flex-col items-center p-[2rem] max-w-2xl lg:items-start"
  >
    <h1
      class="font-[Phantom_Sans] text-4xl text-white font-semibold tracking-wide"
    >
      "Create a Keyring, get your design shipped straight to your door!"
    </h1>
    <p class="mt-[2rem] text-white font-[Phantom_Sans] text-xl italic">
      Fusering is a proposal for a YSWS, and is not currently approved by Hack
      Club as a workshop or program.
    </p>

    <div class="flex flex-col lg:flex-row">
      <a
        href="/docs/Fusering_Draft_V1.3.pdf"
        class="text-2xl text-white bg-FuseringRedLight shadow-lg font-[Phantom_Sans] border-3 border-solid rounded-4xl p-[1rem] mt-[2rem] mr-[2rem] hover:bg-FuseringBlue hover:shadow-2xl duration-100"
        >Read the guide!</a
      >
      <a
        href="https://fusering.fillout.com/feedback"
        class="text-2xl text-white bg-FuseringRedLight shadow-lg font-[Phantom_Sans] border-3 border-solid rounded-4xl p-[1rem] mt-[2rem] mr-[2rem] hover:bg-FuseringBlue hover:shadow-2xl duration-100"
        >Give your feedback here!</a
      >
    </div>
  </div>
</div>
