---
import Base from "../layouts/base.astro";
import FuseringCardTemp from "../components/content/fuseringCardTemp.astro";
import Navbar from "../components/shared/navbar.astro";
---

<Base>
  <div class="flex w-screen items-center justify-center">
    <Navbar />
  </div>
  <div
    class="h-screen flex items-center justify-center bg-[url(/backgrounds/background_cube_pattern.png)]"
  >
  </div>
</Base>
