---
import Base from "../layouts/base.astro";
import Navbar from "../components/shared/navbar.astro";

const fuseringLogo = "/logos/fusering-logo-colour.svg";
const hackclubLogo = "/logos/flag-orpheus-top.svg";
---

<Base>
  
  <img src={hackclubLogo} class="fixed flex top-0 left-0 w-[12rem]">
  <!-- Container with patterned background and  -->
  <div
    class="z-2 md:h-[50vh] flex items-center justify-center bg-[url(/backgrounds/background_cube_pattern.png)] shadow-xl"
  >
    <!-- Centre card for logo and title -->
    <div
      class="md:h-fit w-fit flex items-center justify-center flex-col md:flex-row md:bg-cadillac-600 rounded-4xl md:shadow-xl p-[2rem] max-w-5xl mt-[4rem] mb-[4rem] md:m-[0rem]"
    >
      <img src={fuseringLogo} class="p-[2rem] lg:mt-[0rem]" />
      <h1
        class="font-[Phantom_Sans] text-4xl text-white font-semibold tracking-wide"
      >
        "Design a keyring, get your keyring and a clip for your backpack!"
      </h1>
    </div>
  </div>

  <div class="z-1"></div>
  <!-- Content goes here -->
  <Navbar />
</Base>
