---
import Base from "../layouts/base.astro";
import Navbar from "../components/shared/navbar.astro";

const fuseringLogo = "/logos/fusering-logo-colour.svg";
const hackclubLogo = "/logos/flag-orpheus-top.svg";
---

<Base>
  
  <img src={hackclubLogo} class="fixed flex top-0 left-0 w-[12rem] z-10">
  <!-- Container with patterned background -->
  <div
    class="z-3 md:h-[50vh] flex items-center justify-center bg-[url(/backgrounds/background_cube_pattern.png)] shadow-xl"
  >
    <!-- Centre card for logo and title -->
    <div
      class="md:h-fit w-fit flex items-center justify-center flex-col md:flex-row md:bg-cadillac-600 rounded-4xl md:shadow-2xl p-[2rem] max-w-5xl mt-[4rem] mb-[4rem] md:m-[0rem]"
    >
      <img src={fuseringLogo} class="p-[2rem] lg:mt-[0rem]" />
      <h1
        class="font-[Phantom_Sans] text-4xl text-horizon-50 font-Book"
      >
        "Design a keyring, get your keyring and a clip for your backpack!"
      </h1>
    </div>
  </div>

  <Navbar />

  <div class="z-2 h-fit md:h-[90vh] flex items-center justify-center">
    <div
      class="md:h-[80vh] w-fit md:w-[70vw] flex items-center justify-center flex-col  rounded-4xl p-[2rem] md:m-[0rem]"
    >
    <!-- Grid for keyring images -->
     <h1 class="w-full text-left mb-[2rem] text-white font-[Phantom_Sans] text-3xl">How it works</h1>


      <div class="flex flex-col md:grid md:grid-cols-5 md:grid-rows-5 gap-[2rem] w-full h-full">
        <div class="h-[25vh] md:h-auto md:col-span-2 md:row-span-2">
          <img src="images/step1.png" class="w-full h-full object-cover rounded-2xl p-[1rem] bg-horizon-500 shadow-2xl">
        </div>
        <div class="h-[25vh] md:h-auto md:col-span-3 md:row-span-3 md:col-start-3">
          <img src="images/step2.png" class="w-full h-full object-cover rounded-2xl p-[1rem] bg-horizon-500 shadow-2xl">
          
        </div>
        <div class="h-[25vh] md:h-auto md:col-span-2 md:row-span-3 md:row-start-3">
          <img src="images/step3.jpg" class="w-full h-full object-cover rounded-2xl p-[1rem] bg-horizon-500 shadow-2xl">
        </div>
        <div class="h-[25vh] md:h-auto md:col-span-3 md:row-span-2 md:col-start-3 md:row-start-4">
          <img src="images/step4.jpg" class="w-full h-full object-cover rounded-2xl p-[1rem] bg-horizon-500 shadow-2xl">
        </div>
      </div>

       
    </div>
  </div>
  
  
</Base>
