---
import Base from "../layouts/base.astro";
import FuseringCardTemp from "../components/content/FuseringCardTemp.astro";

const fuseringLogo = "/logos/fusering-logo-colour.svg";
const cubePatternBackground = "/backgrounds/background_cube_pattern.svg";
---

<Base>
  <div class="h-screen flex items-center justify-center">
    <FuseringCardTemp />
  </div>
</Base>
