---
import Base from "../layouts/base.astro"
---

<Base>
	<div class="h-screen flex items-center justify-center">
		<div class="items-center">
			<h1>Welcome to Fusering!</h1>
			<h2>Build a Keyring, get your design shipped straight to your door, carabiner included!</h2>
		</div>
		
	</div>
</Base>