---
import Base from "../layouts/base.astro";

const fuseringLogo = "/logos/fusering-logo-colour.svg";
const cubePatternBackground = "/backgrounds/background_cube_pattern.svg";
---

<Base>
  <div class="h-screen flex items-center justify-center">
    <div
      class="h-screen flex items-center justify-center p-[1rem] flex-col rounded-3xl bg-[url(/backgrounds/background_cube_pattern.png)] lg:flex-row lg:h-auto"
    >
      <img src={fuseringLogo} class="p-[2rem]" />

      <div class="flex flex-col items-center p-[2rem] shrink-0 max-w-2xl">
        <h1
          class="font-[Phantom_Sans] text-4xl text-white font-semibold tracking-wide"
        >
          Create a Keyring, get your design shipped straight to your door!
        </h1>
      </div>

      <!--try image here -->
    </div>
  </div>
</Base>
